.home {
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#mainText {
  font-size: 40px;
  margin-left: 11%;
  margin-top: 25%;
  font-weight: bold;
}