:root {
    --primary: #f6872e;
    --secondary: #3f3a37;
    --background: #2148C0;
    --blue: #252169;
    --bold: 500;
    --thin: 300;
    --font: 'Ubuntu', sans-serif;
}

html, body {
    background-color: var(--background);
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

#root {
    height: 100%;
}
